In [2]:
import pandas as pd

In [7]:
data= {
    'APPLE':[1,2,3,9],
    'ORANGE':[4,5,6,9]
}
compras = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])
compras

        APPLE  ORANGE
June        1       4
Robert      2       5
Lily        3       6
David       9       9

In [8]:
compras.to_csv("Notitas.csv")