Análisis  de Datos

Carlos Puente

# Análisis de Datos de un CSV de Fornite

Generar una nueva columna con el producto de otras dos columnas.

In [2]:
import pandas as pd

In [52]:
fornite_df=pd.read_csv("fornite.csv")

In [6]:
fornite_df.head()

,Date,Time of Day,Placed,Mental State,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures
0,4/10,6:00 PM,27,sober,2,0,0,23%,14,2,271.08,20,20,272,331,621
1,4/10,6:00 PM,45,sober,1,2,0,30%,19,1,396.73,123,30,247,444,998
2,4/10,6:00 PM,38,high,3,0,0,30%,32,1,607.80,71,60,176,322,1109
3,4/10,7:00 PM,30,high,1,3,0,18%,19,1,714.16,244,10,238,330,4726
4,4/10,7:00 PM,16,high,3,1,1,58%,42,18,1140.00,584,150,365,668,2070

In [53]:
fornite_df['Accuracy']= fornite_df['Accuracy'].str.replace("%","").astype(float)/100

In [9]:
fornite_df.head()

,Date,Time of Day,Placed,Mental State,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures
0,4/10,6:00 PM,27,sober,2,0,0,0.23,14,2,271.08,20,20,272,331,621
1,4/10,6:00 PM,45,sober,1,2,0,0.30,19,1,396.73,123,30,247,444,998
2,4/10,6:00 PM,38,high,3,0,0,0.30,32,1,607.80,71,60,176,322,1109
3,4/10,7:00 PM,30,high,1,3,0,0.18,19,1,714.16,244,10,238,330,4726
4,4/10,7:00 PM,16,high,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070

In [10]:
fornite_df['Damage_Efficiency']= fornite_df['Accuracy']*fornite_df['Damage to Players']

In [12]:
fornite_df.head()

,Date,Time of Day,Placed,Mental State,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures,Damage_Efficiency
0,4/10,6:00 PM,27,sober,2,0,0,0.23,14,2,271.08,20,20,272,331,621,76.13
1,4/10,6:00 PM,45,sober,1,2,0,0.30,19,1,396.73,123,30,247,444,998,133.20
2,4/10,6:00 PM,38,high,3,0,0,0.30,32,1,607.80,71,60,176,322,1109,96.60
3,4/10,7:00 PM,30,high,1,3,0,0.18,19,1,714.16,244,10,238,330,4726,59.40
4,4/10,7:00 PM,16,high,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070,387.44

Eliminación de columnas innecesarias

In [13]:
fornite_df.drop(columns=['Mental State'],inplace=True)
fornite_df.head()

,Date,Time of Day,Placed,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures,Damage_Efficiency
0,4/10,6:00 PM,27,2,0,0,0.23,14,2,271.08,20,20,272,331,621,76.13
1,4/10,6:00 PM,45,1,2,0,0.30,19,1,396.73,123,30,247,444,998,133.20
2,4/10,6:00 PM,38,3,0,0,0.30,32,1,607.80,71,60,176,322,1109,96.60
3,4/10,7:00 PM,30,1,3,0,0.18,19,1,714.16,244,10,238,330,4726,59.40
4,4/10,7:00 PM,16,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070,387.44

Limpieza de duplicados.

In [15]:
temp_df=pd.concat([fornite_df,fornite_df])
temp_df.shape

(174, 16)

In [16]:
temp_df.drop_duplicates()
temp_df.shape

(174, 16)

Eliminación de filas de acuerdo a algún criterio. Por ejemplo los que tengan mas de 50 hits.

In [17]:
fornite_df.isnull()

,Date,Time of Day,Placed,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures,Damage_Efficiency
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
83,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
84,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
85,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
86,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [18]:
indices_borrar=fornite_df[fornite_df['Hits']>50].index
fornite_df.drop(indices_borrar,inplace=True)
fornite_df.head()

,Date,Time of Day,Placed,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures,Damage_Efficiency
0,4/10,6:00 PM,27,2,0,0,0.23,14,2,271.08,20,20,272,331,621,76.13
1,4/10,6:00 PM,45,1,2,0,0.30,19,1,396.73,123,30,247,444,998,133.20
2,4/10,6:00 PM,38,3,0,0,0.30,32,1,607.80,71,60,176,322,1109,96.60
3,4/10,7:00 PM,30,1,3,0,0.18,19,1,714.16,244,10,238,330,4726,59.40
4,4/10,7:00 PM,16,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070,387.44

In [19]:
fornite_df.shape

(75, 16)

Mostrar en una consulta ciertos elementos y no todas las columnas.

In [21]:
indice_max_damage=fornite_df['Damage to Structures'].idxmax()
indice_max_damage
fornite_df.loc[indice_max_damage]

Date                       4/13
Time of Day             8:00 PM
Placed                        1
Eliminations                  6
Assists                       3
Revives                       1
Accuracy                   0.17
Hits                         46
Head Shots                    7
Distance Traveled        3830.0
Materials Gathered         1907
Materials Used              530
Damage Taken                193
Damage to Players          1308
Damage to Structures      18026
Damage_Efficiency        222.36
Name: 38, dtype: object

Guardar y recuperar de una Base de Datos.

In [22]:
import sqlite3

In [24]:
db_fornite='database.db'
con=sqlite3.connect(db_fornite)

fornite_df.to_sql('Estadisticas',con,if_exists='replace',index=False)
con.close()

In [26]:
db_fornite='database.db'
con=sqlite3.connect(db_fornite)
query = "SELECT * FROM estadisticas"
df=pd.read_sql_query(query,con)
con.close()
df

,Date,Time of Day,Placed,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures,Damage_Efficiency
0,4/10,6:00 PM,27,2,0,0,0.23,14,2,271.08,20,20,272,331,621,76.13
1,4/10,6:00 PM,45,1,2,0,0.30,19,1,396.73,123,30,247,444,998,133.20
2,4/10,6:00 PM,38,3,0,0,0.30,32,1,607.80,71,60,176,322,1109,96.60
3,4/10,7:00 PM,30,1,3,0,0.18,19,1,714.16,244,10,238,330,4726,59.40
4,4/10,7:00 PM,16,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070,387.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,16-Apr,10:00 PM,24,1,1,2,0.64,7,2,249.22,108,0,196,468,1590,299.52
71,17-Apr,12:00 AM,24,4,0,0,0.20,12,4,222.54,94,0,96,478,2262,95.60
72,17-Apr,1:00 PM,30,1,2,0,0.28,40,4,267.00,78,30,148,375,1196,105.00
73,17-Apr,2:00 PM,18,3,2,1,0.26,25,3,954.43,370,60,354,475,1168,123.50
74,17-Apr,2:00 PM,39,1,0,0,0.31,12,1,226.67,75,0,120,338,1105,104.78

In [27]:
con=sqlite3.connect(db_fornite)
query_fornite = """
    SELECT 
        "Hits", 
        "Head Shots", 
        "Damage to Players"
    FROM 
        estadisticas
    WHERE 
        "Damage to Players" > 400
"""
df_consulta_sql = pd.read_sql(query_fornite, con)
df_consulta_sql
con.close()
df_consulta_sql

    Hits  Head Shots  Damage to Players
0     19           1                444
1     42          18                668
2     41           6                634
3     17           4                412
4     50          14                989
5     30           1                422
6     19           0                420
7     32           3                492
8     38           1                817
9     34          11                950
10    35           3                894
11    32          11                787
12    19           2                611
13    27           7                659
14    12           4                439
15    46           0                736
16    38           8                768
17    34           7               1166
18    11           4                416
19    22           4                646
20    48           5                651
21    46           7               1308
22    45           7                600
23    28           2                922
24    21           2                509
25    26           1                548
26    28          10                560
27    30           3                668
28    38           4               1081
29    27          13                592
30    49          20                680
31    10           0                507
32    27          12                560
33    28           5                442
34    25           9                481
35    21           0                497
36     8           1                430
37    32           1                502
38    38           7               1005
39    29           3                764
40    20           5                467
41    13           4                471
42    35           3                997
43     7           2                468
44    12           4                478
45    25           3                475

Guardar y recuperar de un archivo JSON.

In [28]:
json_file="partidas_fornite.json"

fornite_df.to_json(json_file, orient="records", indent=True)

In [29]:
json_file ="partidas_fornite.json"

df_recuperado = pd.read_json(json_file)
df_recuperado.head()

,Date,Time of Day,Placed,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures,Damage_Efficiency
0,4/10,6:00 PM,27,2,0,0,0.23,14,2,271.08,20,20,272,331,621,76.13
1,4/10,6:00 PM,45,1,2,0,0.30,19,1,396.73,123,30,247,444,998,133.20
2,4/10,6:00 PM,38,3,0,0,0.30,32,1,607.80,71,60,176,322,1109,96.60
3,4/10,7:00 PM,30,1,3,0,0.18,19,1,714.16,244,10,238,330,4726,59.40
4,4/10,7:00 PM,16,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070,387.44

Guardar y recuperar de un archivo csv.

In [31]:
csv_file='fornite.csv'
df_csv=pd.read_csv(csv_file)
df_csv.head()

,Date,Time of Day,Placed,Mental State,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures
0,4/10,6:00 PM,27,sober,2,0,0,23%,14,2,271.08,20,20,272,331,621
1,4/10,6:00 PM,45,sober,1,2,0,30%,19,1,396.73,123,30,247,444,998
2,4/10,6:00 PM,38,high,3,0,0,30%,32,1,607.80,71,60,176,322,1109
3,4/10,7:00 PM,30,high,1,3,0,18%,19,1,714.16,244,10,238,330,4726
4,4/10,7:00 PM,16,high,3,1,1,58%,42,18,1140.00,584,150,365,668,2070

In [32]:

csv_file = 'partidas_actualizadas.csv'


df.to_csv(csv_file, index=False)

In [33]:
csv_file='partidas_actualizadas.csv'
df_csv=pd.read_csv(csv_file)
df_csv.head()

,Date,Time of Day,Placed,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures,Damage_Efficiency
0,4/10,6:00 PM,27,2,0,0,0.23,14,2,271.08,20,20,272,331,621,76.13
1,4/10,6:00 PM,45,1,2,0,0.30,19,1,396.73,123,30,247,444,998,133.20
2,4/10,6:00 PM,38,3,0,0,0.30,32,1,607.80,71,60,176,322,1109,96.60
3,4/10,7:00 PM,30,1,3,0,0.18,19,1,714.16,244,10,238,330,4726,59.40
4,4/10,7:00 PM,16,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070,387.44

Vamos a encontrar las partidas que fueron altamente destructivas sumando hits y daño a estructuras

In [34]:
fornite_df[(fornite_df['Hits']>15)&(fornite_df['Damage to Structures']>1000)]
fornite_df.head()

,Date,Time of Day,Placed,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures,Damage_Efficiency
0,4/10,6:00 PM,27,2,0,0,0.23,14,2,271.08,20,20,272,331,621,76.13
1,4/10,6:00 PM,45,1,2,0,0.30,19,1,396.73,123,30,247,444,998,133.20
2,4/10,6:00 PM,38,3,0,0,0.30,32,1,607.80,71,60,176,322,1109,96.60
3,4/10,7:00 PM,30,1,3,0,0.18,19,1,714.16,244,10,238,330,4726,59.40
4,4/10,7:00 PM,16,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070,387.44

In [39]:
df.index = pd.RangeIndex(start=1, stop=len(fornite_df) + 1)
df.head()

,Date,Time of Day,Placed,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures,Damage_Efficiency
1,4/10,6:00 PM,27,2,0,0,0.23,14,2,271.08,20,20,272,331,621,76.13
2,4/10,6:00 PM,45,1,2,0,0.30,19,1,396.73,123,30,247,444,998,133.20
3,4/10,6:00 PM,38,3,0,0,0.30,32,1,607.80,71,60,176,322,1109,96.60
4,4/10,7:00 PM,30,1,3,0,0.18,19,1,714.16,244,10,238,330,4726,59.40
5,4/10,7:00 PM,16,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070,387.44

Jugadores con buena puntería y mucho daño a jugadores

In [48]:
fornite_df = pd.read_csv("fornite.csv")

In [50]:
fornite_df['Accuracy'] = fornite_df['Accuracy'].str.replace('%', '').astype(float) / 100

In [54]:
fornite_df[(fornite_df['Accuracy'] > 0.40) & (fornite_df['Damage to Players'] > 500)]
fornite_df.head()

,Date,Time of Day,Placed,Mental State,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures
0,4/10,6:00 PM,27,sober,2,0,0,0.23,14,2,271.08,20,20,272,331,621
1,4/10,6:00 PM,45,sober,1,2,0,0.30,19,1,396.73,123,30,247,444,998
2,4/10,6:00 PM,38,high,3,0,0,0.30,32,1,607.80,71,60,176,322,1109
3,4/10,7:00 PM,30,high,1,3,0,0.18,19,1,714.16,244,10,238,330,4726
4,4/10,7:00 PM,16,high,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070

Partidas con muchas eliminaciones pero poco material usado

In [57]:
fornite_df[(fornite_df['Eliminations'] >= 3) & (fornite_df['Materials Used'] < 100)]
fornite_df.head()

,Date,Time of Day,Placed,Mental State,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures
1,4/10,6:00 PM,27,sober,2,0,0,0.23,14,2,271.08,20,20,272,331,621
2,4/10,6:00 PM,45,sober,1,2,0,0.30,19,1,396.73,123,30,247,444,998
3,4/10,6:00 PM,38,high,3,0,0,0.30,32,1,607.80,71,60,176,322,1109
4,4/10,7:00 PM,30,high,1,3,0,0.18,19,1,714.16,244,10,238,330,4726
5,4/10,7:00 PM,16,high,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070

Jugadores que recorrieron mucha distancia pero hicieron poco daño

In [58]:
fornite_df[(fornite_df['Distance Traveled'] > 800) & (fornite_df['Damage to Players'] < 300)]
fornite_df.head()

,Date,Time of Day,Placed,Mental State,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures
1,4/10,6:00 PM,27,sober,2,0,0,0.23,14,2,271.08,20,20,272,331,621
2,4/10,6:00 PM,45,sober,1,2,0,0.30,19,1,396.73,123,30,247,444,998
3,4/10,6:00 PM,38,high,3,0,0,0.30,32,1,607.80,71,60,176,322,1109
4,4/10,7:00 PM,30,high,1,3,0,0.18,19,1,714.16,244,10,238,330,4726
5,4/10,7:00 PM,16,high,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070

Buen daño estructural con baja precisión

In [59]:
fornite_df[(fornite_df['Accuracy'] < 25) & (fornite_df['Damage to Structures'] > 2000)]
fornite_df.head()

,Date,Time of Day,Placed,Mental State,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures
1,4/10,6:00 PM,27,sober,2,0,0,0.23,14,2,271.08,20,20,272,331,621
2,4/10,6:00 PM,45,sober,1,2,0,0.30,19,1,396.73,123,30,247,444,998
3,4/10,6:00 PM,38,high,3,0,0,0.30,32,1,607.80,71,60,176,322,1109
4,4/10,7:00 PM,30,high,1,3,0,0.18,19,1,714.16,244,10,238,330,4726
5,4/10,7:00 PM,16,high,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070

Jugadores que ayudaron mucho (assists o revives)

In [60]:
fornite_df[(fornite_df['Assists'] >= 2) & (fornite_df['Revives'] >= 1)]
fornite_df.head()

,Date,Time of Day,Placed,Mental State,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures
1,4/10,6:00 PM,27,sober,2,0,0,0.23,14,2,271.08,20,20,272,331,621
2,4/10,6:00 PM,45,sober,1,2,0,0.30,19,1,396.73,123,30,247,444,998
3,4/10,6:00 PM,38,high,3,0,0,0.30,32,1,607.80,71,60,176,322,1109
4,4/10,7:00 PM,30,high,1,3,0,0.18,19,1,714.16,244,10,238,330,4726
5,4/10,7:00 PM,16,high,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070

 Partidas con pocos materiales recolectados pero mucho daño total

In [61]:
fornite_df[(fornite_df['Materials Gathered'] < 100) & ((fornite_df['Damage to Players'] + fornite_df['Damage to Structures']) > 1000)]
fornite_df.head()

,Date,Time of Day,Placed,Mental State,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures
1,4/10,6:00 PM,27,sober,2,0,0,0.23,14,2,271.08,20,20,272,331,621
2,4/10,6:00 PM,45,sober,1,2,0,0.30,19,1,396.73,123,30,247,444,998
3,4/10,6:00 PM,38,high,3,0,0,0.30,32,1,607.80,71,60,176,322,1109
4,4/10,7:00 PM,30,high,1,3,0,0.18,19,1,714.16,244,10,238,330,4726
5,4/10,7:00 PM,16,high,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070

Jugadores con más de 30 hits y más de 10 headshots

In [63]:
fornite_df[(fornite_df['Hits'] > 30) & (fornite_df['Head Shots'] > 10)]
fornite_df.head()

,Date,Time of Day,Placed,Mental State,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures
1,4/10,6:00 PM,27,sober,2,0,0,0.23,14,2,271.08,20,20,272,331,621
2,4/10,6:00 PM,45,sober,1,2,0,0.30,19,1,396.73,123,30,247,444,998
3,4/10,6:00 PM,38,high,3,0,0,0.30,32,1,607.80,71,60,176,322,1109
4,4/10,7:00 PM,30,high,1,3,0,0.18,19,1,714.16,244,10,238,330,4726
5,4/10,7:00 PM,16,high,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070

Partidas donde se recibió poco daño pero se infligió bastante

In [64]:
fornite_df[(fornite_df['Damage Taken'] < 200) & (fornite_df['Damage to Players'] > 400)]
fornite_df.head()

,Date,Time of Day,Placed,Mental State,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures
1,4/10,6:00 PM,27,sober,2,0,0,0.23,14,2,271.08,20,20,272,331,621
2,4/10,6:00 PM,45,sober,1,2,0,0.30,19,1,396.73,123,30,247,444,998
3,4/10,6:00 PM,38,high,3,0,0,0.30,32,1,607.80,71,60,176,322,1109
4,4/10,7:00 PM,30,high,1,3,0,0.18,19,1,714.16,244,10,238,330,4726
5,4/10,7:00 PM,16,high,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070

Jugadores muy activos: gran distancia y alto uso de materiales

In [65]:
fornite_df[(fornite_df['Distance Traveled'] > 700) & (fornite_df['Materials Used'] > 200)]
fornite_df.head()

,Date,Time of Day,Placed,Mental State,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures
1,4/10,6:00 PM,27,sober,2,0,0,0.23,14,2,271.08,20,20,272,331,621
2,4/10,6:00 PM,45,sober,1,2,0,0.30,19,1,396.73,123,30,247,444,998
3,4/10,6:00 PM,38,high,3,0,0,0.30,32,1,607.80,71,60,176,322,1109
4,4/10,7:00 PM,30,high,1,3,0,0.18,19,1,714.16,244,10,238,330,4726
5,4/10,7:00 PM,16,high,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070

Jugadores con precisión media pero alto rendimiento estructural

In [66]:
fornite_df[(fornite_df['Accuracy'].between(25, 45)) & (fornite_df['Damage to Structures'] > 1500)]
fornite_df.head()

,Date,Time of Day,Placed,Mental State,Eliminations,Assists,Revives,Accuracy,Hits,Head Shots,Distance Traveled,Materials Gathered,Materials Used,Damage Taken,Damage to Players,Damage to Structures
1,4/10,6:00 PM,27,sober,2,0,0,0.23,14,2,271.08,20,20,272,331,621
2,4/10,6:00 PM,45,sober,1,2,0,0.30,19,1,396.73,123,30,247,444,998
3,4/10,6:00 PM,38,high,3,0,0,0.30,32,1,607.80,71,60,176,322,1109
4,4/10,7:00 PM,30,high,1,3,0,0.18,19,1,714.16,244,10,238,330,4726
5,4/10,7:00 PM,16,high,3,1,1,0.58,42,18,1140.00,584,150,365,668,2070