In [ ]:
import pandas as pd
import sqlite3

In [5]:
data={
    'apples':[3,2,0,1],
    'oranges':[0,3,7,2],
}

In [6]:
data

{'apples': [3, 2, 0, 1], 'oranges': [0, 3, 7, 2]}

In [7]:
index=['Carlos','Ana','Juan','Gaby']

In [8]:
df=pd.DataFrame(data,index=index)

In [9]:
df

        apples  oranges
Carlos       3        0
Ana          2        3
Juan         0        7
Gaby         1        2

In [36]:
#Generar un DataFrame que corresponda a cinco calificaciones de usted y dos de sus compañeros.

In [10]:
notas={
    'GPS':[10,10,9],
    'POO':[9,7,8],
    'ADD':[8,9,7],
    'DDI':[7,8,9],
    'BDD':[10,10,10],
}

In [11]:
ide=['Carlos Puente','Lubswer Catagña','Milka Borja']

In [12]:
dff=pd.DataFrame(notas,index=ide)

In [13]:
dff

                 GPS  POO  ADD  DDI  BDD
Carlos Puente     10    9    8    7   10
Lubswer Catagña   10    7    9    8   10
Milka Borja        9    8    7    9   10

In [14]:
dff.loc['Milka Borja']

GPS     9
POO     8
ADD     7
DDI     9
BDD    10
Name: Milka Borja, dtype: int64

In [16]:
dff.to_csv("Notas.csv")

In [17]:
dff.to_json('listado.json')

In [18]:
dff

                 GPS  POO  ADD  DDI  BDD
Carlos Puente     10    9    8    7   10
Lubswer Catagña   10    7    9    8   10
Milka Borja        9    8    7    9   10

In [19]:
con = sqlite3.connect("database.db")

NameError: name 'sqlite3' is not defined